<!DOCTYPE html>
<html>
  <head>
    <title>BenchBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if signed_in? %>
      <%= current_user.username %>
    <% end %>
    <%= yield %>
  </body>
</html>
