<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>URLShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
=======
  <title>AssociationsExercise</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
>>>>>>> associations/master
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
